<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Base64</title>
</head>
<body>
    <pre>
        <form action="/api/upload" method="POST" enctype="application/x-www-form-urlencoded">
            FileName:
            <input name="fileName" type="text" />
            Base64:
            <textarea name="Base64" type="textarea" cols="60" rows="10"></textarea>
            <input type="submit" value="Enviar arquivo"/>
        </form>
    </pre>
</body>
</html>